<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="RunflareMirror" value="https://mirror-nuget.runflare.com/v3/index.json" />
  </packageSources>

  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="https://api.nuget.org/v3/index.json" value="true" />
  </disabledPackageSources>
</configuration>
