<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="C:/Users/hadih/.nuget" />
  </packageSources> 
  
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="https://api.nuget.org/v3/index.json" value="true" />
  </disabledPackageSources>
</configuration>